*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    background-color: #121212;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    font-family: "Courier New", monospace;
    min-height: 100vh; 
    /* gap: 15vh;           */
}
ul{
    list-style: none;

}
li{
    /* padding: 3.0rem 6.5rem; */
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0.5px solid white;
}
.i1{
        border-top-left-radius: 20rem;
}
.i1j1{
    /* width: 3.5rem;
    height: 3.0rem; */
    border-top: 0.5px solid rgb(1, 1, 1);
    border-left:0.5px solid rgb(1, 1, 1);
}
.i1j2{
    border-top: 0.5px solid rgb(1, 1, 1);
}
.i1j3{
    border-top: 0.5px solid rgb(1, 1, 1);
    border-right:0.5px solid rgb(1, 1, 1) ;
}
.i2j1{
    border-left:0.5px solid rgb(1, 1, 1);
}
/* .i2j2{

} */
.i2j3{
    border-right:0.5px solid rgb(1, 1, 1) ;
}
.i3j1{
    border-left:0.5px solid rgb(1, 1, 1);
    border-bottom:0.5px solid rgb(1, 1, 1);
}
.i3j2{
    border-bottom:0.5px solid rgb(1, 1, 1);
}
.i3j3{
    border-right:0.5px solid rgb(1, 1, 1) ;
    border-bottom:0.5px solid rgb(1, 1, 1);
}
.game{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    box-shadow: 0 0 25px 0.8px whitesmoke;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;;
}
.i1, .i2, .i3{
    display: flex;
    flex-direction: row;
}

section{
    color: aliceblue;
    padding: 4rem;
    justify-content: center;  
    align-items: center; 
    text-align: center;
    /* font-size: 5rem; */
}
section h4{
    font-size: 55px;
    padding: 5px 0;
}
section h5{
    font-size: 25px;
    padding: 3px 0;
}

.button {
    border-radius: 2rem;
    margin: 2rem 0 ;
}
button{
    font-size: 1.8rem;
    width:180px;
    height: 75px;
    color: rgb(252, 252, 252);
    background-color: rgba(12, 231, 34, 0.883);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}